---
import { Image } from 'astro:assets';

interface Props {
  image?: string;
  alt: string;
}

const { image, alt } = Astro.props;
---

<div class="relative h-[300px]">
  <div class="w-full px-6 max-w-7xl mx-auto flex h-full justify-center items-center relative z-[2]">
    <slot />
  </div>
  <div class="absolute inset-0 z-[1]">
    <Image
      src={image ?? '/'}
      alt={`Cabecera de ${alt}`}
      width={1920}
      height={300}
      class="object-cover object-center w-full h-full"
    />
    <div class="absolute inset-0 bg-white opacity-50" />
  </div>
</div>
