---
import BaseLayout from '@/layouts/base-layout.astro';
import HeroBanner from '@/components/hero-banner.astro';
import Introduction from '@/components/introduction.astro';
import Services from '@/components/services.astro';
import ColumnBoxSection from '@/components/column-box-section.astro';
import { getHomeData } from '@/pages/api/home';

const homeData = await getHomeData();
---

<BaseLayout>
  <main class="relative z-0">
    <HeroBanner data={homeData.heroSection} />
    <Introduction data={homeData.center} />
    <Services data={homeData.services} />
    <ColumnBoxSection data={homeData.highlightedContent} />
  </main>
</BaseLayout>
