---
import type { HomeData } from '@/server/repositories/types';
import ColumnBox from './column-box.astro';

interface Props {
  data: HomeData['highlightedContent'];
}

const { data } = Astro.props;
---

<div class="shadow-[-1px_-9px_31px_0px_rgba(0,0,0,0.05)]">
  {
    data.map((box) => (
      <ColumnBox
        text={box.content}
        image={box.image}
        color="main"
        link={box.link}
        position={box.position}
      />
    ))
  }
</div>
