---
import { siteConfig } from '@/data/site-config';

const { apiKey, lat, lng } = siteConfig.googleMaps;
---

<div id="google-maps-container" class="w-full h-full" style="min-height: 400px;">
  <div id="map-loading" class="flex items-center justify-center h-full text-gray">Cargando mapa....</div>
</div>

<script define:vars={{ apiKey, lat, lng }}>
  (function () {
    const container = document.getElementById('google-maps-container');
    const loading = document.getElementById('map-loading');

    const initMap = () => {
      const position = { lat, lng };
      const map = new google.maps.Map(container, {
        zoom: 16,
        center: position,
        mapTypeId: 'roadmap',
        styles: [{ featureType: 'poi', elementType: 'labels', stylers: [{ visibility: 'off' }] }],
      });
      new google.maps.Marker({ position, map, title: 'Osteosalix' });
      if (loading) loading.style.display = 'none';
    };

    const loadMapScript = () => {
      const script = document.createElement('script');
      script.src = `https://maps.googleapis.com/maps/api/js?key=${apiKey}&callback=initOsteosalixMap`;
      script.async = true;
      script.defer = true;
      document.head.appendChild(script);
    };

    window.initOsteosalixMap = initMap;
    loadMapScript();
  })();
</script>
