---
import { siteConfig } from "@/data/site-config";
import Header from "@/components/layout/header.astro";
import Footer from "@/components/layout/footer.astro";
import "@/styles/globals.css";
import { ClientRouter } from "astro:transitions";

export interface Props {
	title?: string;
	description?: string;
	canonical?: string;
}

const { title, description, canonical } = Astro.props;
const isHomePage = Astro.url.pathname === '/';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="noindex, nofollow" />
		<title>
			{
				title ||
					"Osteosalix: Osteopatía y fisioterapia en Sant Cugat del Vallés"
			}
		</title>
		<meta
			name="description"
			content={description ||
				"Osteopatía y fisioterapia en Sant Cugat del Vallés"}
		/>
		{canonical && <link rel="canonical" href={canonical} />}
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<script
			id="cookieyes"
			type="text/javascript"
			src="https://cdn-cookieyes.com/client_data/{siteConfig.cookieYesId}/script.js"
		></script>
		<script
			type="application/ld+json"
			set:html={JSON.stringify(siteConfig.jsonLd)}
		/>
		<ClientRouter />
	</head>
	<body>
		<Header />
		<div class:list={[!isHomePage && 'pt-[60px] lg:pt-[90px]']}>
			<slot />
		</div>
		<Footer />
	</body>
</html>
